.list-container {
  background-image: url("./home-image.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  color: white;

  .list-body-container {
    .list-form-container {
      gap: 5px;
      display: flex;
      padding-left: 10px;
    }
  }
}

.list-header-container {
  display: flex;

  .header-icon {
    width: 100px;
  }
  .header-title {
    font-size: 50px;
    padding-left: 10px;
  }
  .sign-out-button {
    display: flex;
    margin-left: auto;
    gap: 10px;
    margin-right: 10px;
    padding-top: 10px;
    font-size: 30px;
    height: 30px;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
