.list-details-container {
  background-image: url("./home-image.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  color: white;

  .list-detail-content {
    display: flex;
    .list-detail-person-container {
      .list-detail-person-button {
        margin-left: 5px;
      }
      .person-list-container {
        padding-top: 130px;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        // margin-top: 50px;
        // top: 50%;
        // left: 53%;
        // transform: translate(-50%, -50%);
      }
    }
  }

  .list-details-body-container {
    display: flex;
    position: relative;
    width: 50%;
    .list-details-form {
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      gap: 5px;
    }
    .add-list-details-button {
      //   padding-top: 92px;
      padding-left: 5px;
    }
  }
  .travel-detail-container {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    // position: absolute;
    // top: 50%;
    // left: 5%;
    // transform: translate(-50%, -50%);
    width: fit-content;

    .price-list-check-label {
      display: block;
    }
    .price-list-checkbox {
      margin-left: 5px;
    }
  }
}
