.list-details-container {
  // background-image: url("./home-image.jpg");
  background-color: #f0f0f0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  // color: white;

  .list-detail-content {
    display: flex;
    .list-details-body-container {
      margin-left: 100px;
      background-color: #f2e0ce;
      border-radius: 99px;
      width: 25%;
      height: fit-content;
      margin-top: 10px;
      // margin-left: 30px;
      padding-bottom: 40px;
      // padding-top: 50px;
      // background-color: #d27a20;
      // border-radius: 9999px;
      display: flex;
      // position: relative;
      // width: 50%;
      .list-details-form {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        gap: 5px;
        margin-top: 20px;
        .input-title-container {
          padding: 10px 25px 10px 10px;
          background-color: #f0f0f0;
          border-radius: 9999px;
          .list-input-title {
            padding-left: 10px;
          }
          .input-title {
            padding-left: 20px;
          }
        }
        .input-price-container {
          background-color: #f0f0f0;
          border-radius: 9999px;
          padding: 10px 25px 10px 10px;
          .list-input-price {
            padding-left: 10px;
          }
          .input-price {
            padding-left: 20px;
          }
        }
        .input-memo-container {
          background-color: #f0f0f0;
          border-radius: 9999px;
          padding: 10px 25px 10px 10px;
          .list-input-memo {
            padding-left: 10px;
          }
          .input-memo {
            padding-left: 20px;
          }
        }
        .input-person-container {
          background-color: #f0f0f0;
          border-radius: 9999px;
          padding: 10px 25px 10px 10px;
          .list-input-person {
            padding-left: 10px;
          }
          .input-person {
            margin-left: 20px;
            width: 200px;
            color: black;
          }
        }
      }
      .add-list-details-button {
        //   padding-top: 92px;
        padding-left: 5px;
        height: fit-content;
        margin-top: 300px;
        border-radius: 9999px;
        .add-button {
          color: #f0f0f0;
          background-color: black;
          border-radius: 9999px;
          margin-top: 30px;
          // font-size: 20px;
          &:hover {
            background-color: #f0f0f0;
            color: black;
          }
        }
      }
    }
    .list-detail-person-container {
      margin-top: 10px;
      background-color: #f2e0ce;
      height: fit-content;
      border-radius: 9999px;
      padding: 10px 25px 10px 10px;
      margin-left: 800px;
      .person-input-container {
        display: flex;
        padding-left: 10px;
        margin-left: 5px;
        gap: 5px;
      }
      // .person-input {
      //   border-radius: 9999px;
      // }
      .list-detail-person-button {
        // font-size: 20px;
        // margin-left: 5px;
        color: #f0f0f0;
        background-color: black;
        border-radius: 9999px;
        &:hover {
          background-color: #f0f0f0;
          color: black;
          border-color: black;
        }
      }
      .person-list-container {
        flex-direction: column;
        gap: 5px;
        position: absolute;
        margin-top: 400px;
        background-color: #f2e0ce;
        border-radius: 99px;
        padding: 50px 50px 50px 50px;
        // top: 50%;
        // left: 53%;
        // transform: translate(-50%, -50%);
        .member-list-container {
          display: flex;
          gap: 10px;
          .member-name {
            padding-top: 5px;
          }
          .member-edit-button {
            font-size: small;
            color: #f0f0f0;
            background-color: black;
            border-radius: 9999px;
            &:hover {
              background-color: #f0f0f0;
              color: black;
              border-color: black;
            }
          }
        }
        .update-list-container {
          .person-list-edit-button,
          .person-list-delete-button {
            color: #f0f0f0;
            background-color: black;
            border-radius: 9999px;
            &:hover {
              background-color: #f0f0f0;
              color: black;
              border-color: black;
            }
          }
        }
      }
    }
  }

  .travel-detail-container {
    background-color: #f2e0ce;
    border-radius: 99px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 50px 200px 50px 50px;
    // position: absolute;
    // top: 50%;
    // left: 5%;
    // transform: translate(-50%, -50%);
    width: fit-content;
    .total-price-container {
      padding: 0px 0px 10px 10px;
    }

    .price-per-person-container {
      display: flex;
      padding: 0px 0px 10px 10px;
      .per-person-text {
        margin-top: 10px;
      }
    }

    .price-to-be-pai {
      padding: 0px 0px 10px 10px;
    }

    .price-list-container {
      // padding: 0px 0px 10px 10px;
      margin-top: 10px;
      .price-list-detail {
        padding: 10px 0px 10px 10px;
      }
    }

    .price-list-edit {
      .price-list-edit-price,
      .price-list-edit-title {
        margin-top: 5px;
      }
    }

    .price-list-edit-button,
    .price-list-delete-button {
      margin-left: 5px;
      margin-right: 2px;
      color: #f0f0f0;
      background-color: black;
      border-radius: 9999px;
      &:hover {
        background-color: #f0f0f0;
        color: black;
        border-color: black;
      }
    }
    .person-select-item {
      height: 30px;
      width: 200px;
    }

    .price-list-check-label {
      display: block;
      .price-list-check-button {
        font-size: small;
        margin-left: 10px;
      }
    }
    .price-list-checkbox {
      margin-left: 5px;
    }
  }
  .person-list-edit-button {
    margin-left: 5px;
    margin-right: 2px;
  }
}

// レスポンシブ対応
@media (max-width: 768px) {
  .list-details-container {
    // background-image: url("./home-image.jpg");
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vh;
    background-size: cover;

    .list-detail-content {
      display: flex;
      .list-details-body-container {
        margin-left: 50px;
        background-color: #f2e0ce;
        border-radius: 99px;
        width: fit-content;
        height: fit-content;
        margin-top: 10px;
        padding-bottom: 40px;
        display: flex;
        padding-right: 20px;
        .list-details-form {
          display: flex;
          flex-direction: column;
          padding-left: 50px;
          gap: 5px;
          margin-top: 20px;
          .input-title-container {
            padding: 10px 25px 10px 10px;
            background-color: #f0f0f0;
            border-radius: 9999px;
            .list-input-title {
              padding-left: 10px;
            }
            .input-title {
              padding-left: 20px;
            }
          }
          .input-price-container {
            background-color: #f0f0f0;
            border-radius: 9999px;
            padding: 10px 25px 10px 10px;
            .list-input-price {
              padding-left: 10px;
            }
            .input-price {
              padding-left: 20px;
            }
          }
          .input-memo-container {
            background-color: #f0f0f0;
            border-radius: 9999px;
            padding: 10px 25px 10px 10px;
            .list-input-memo {
              padding-left: 10px;
            }
            .input-memo {
              padding-left: 20px;
            }
          }
          .input-person-container {
            background-color: #f0f0f0;
            border-radius: 9999px;
            padding: 10px 25px 10px 10px;
            .list-input-person {
              padding-left: 10px;
            }
            .input-person {
              margin-left: 20px;
              width: 200px;
              color: black;
            }
          }
        }
        .add-list-details-button {
          //   padding-top: 92px;
          padding-left: 5px;
          height: fit-content;
          margin-top: 300px;
          border-radius: 9999px;
          .add-button {
            color: #f0f0f0;
            background-color: black;
            border-radius: 9999px;
            margin-top: 30px;
            // font-size: 20px;
            &:hover {
              background-color: #f0f0f0;
              color: black;
            }
          }
        }
      }
      .list-detail-person-container {
        margin-top: 10px;
        background-color: #f2e0ce;
        height: fit-content;
        border-radius: 9999px;
        padding: 10px 25px 10px 10px;
        margin-left: 100px;
        .person-input-container {
          display: flex;
          padding-left: 10px;
          margin-left: 5px;
          gap: 5px;
        }
        // .person-input {
        //   border-radius: 9999px;
        // }
        .list-detail-person-button {
          // font-size: 20px;
          // margin-left: 5px;
          color: #f0f0f0;
          background-color: black;
          border-radius: 9999px;
          &:hover {
            background-color: #f0f0f0;
            color: black;
            border-color: black;
          }
        }
        .person-list-container {
          flex-direction: column;
          gap: 5px;
          position: absolute;
          margin-top: 400px;
          background-color: #f2e0ce;
          border-radius: 99px;
          padding: 10px 100px 50px 50px;
          width: fit-content;
          white-space: nowrap;
          // top: 50%;
          // left: 53%;
          // transform: translate(-50%, -50%);
          .member-list-container {
            display: flex;
            gap: 10px;
            .member-name {
              padding-top: 5px;
            }
            .member-edit-button {
              font-size: small;
              color: #f0f0f0;
              background-color: black;
              border-radius: 9999px;
              &:hover {
                background-color: #f0f0f0;
                color: black;
                border-color: black;
              }
            }
          }
          .update-list-container {
            .person-list-edit-button,
            .person-list-delete-button {
              color: #f0f0f0;
              background-color: black;
              border-radius: 9999px;
              &:hover {
                background-color: #f0f0f0;
                color: black;
                border-color: black;
              }
            }
          }
        }
      }
    }

    .travel-detail-container {
      background-color: #f2e0ce;
      border-radius: 99px;
      margin-left: 50px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 50px 50px 50px 50px;
      // position: absolute;
      // top: 50%;
      // left: 5%;
      // transform: translate(-50%, -50%);
      width: fit-content;
      .total-price-container {
        padding: 0px 0px 10px 10px;
      }

      .price-per-person-container {
        display: flex;
        padding: 0px 0px 10px 10px;
        .per-person-text {
          margin-top: 10px;
        }
      }

      .price-to-be-pai {
        padding: 0px 0px 10px 10px;
      }

      .price-list-container {
        // padding: 0px 0px 10px 10px;
        margin-top: 10px;
        .price-list-detail {
          padding: 10px 0px 10px 10px;
        }
      }

      .price-list-edit {
        .price-list-edit-price,
        .price-list-edit-title {
          margin-top: 5px;
        }
      }

      .price-list-edit-button,
      .price-list-delete-button {
        margin-left: 5px;
        margin-right: 2px;
        color: #f0f0f0;
        background-color: black;
        border-radius: 9999px;
        &:hover {
          background-color: #f0f0f0;
          color: black;
          border-color: black;
        }
      }
      .person-select-item {
        height: 30px;
        width: 200px;
      }

      .price-list-check-label {
        display: block;
        .price-list-check-button {
          font-size: small;
          margin-left: 10px;
        }
      }
      .price-list-checkbox {
        margin-left: 5px;
      }
    }
    .person-list-edit-button {
      margin-left: 5px;
      margin-right: 2px;
    }
  }
}
